canvas
{
	vertical-align: top;
}

body
{
	display: flex;
	padding: 10;
}

aside
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: red;
	margin: 30px;
}